/*--------------------------------------------------------------
  Media Queries
--------------------------------------------------------------*/


/* 1900px up */
@media screen and (min-width: 118.750em) {
	
}


/* 1200px up */
@media only screen and (max-width: 107.500em) {
	

	
	.events-single-hero .section-content,
	.program-events-hero .section-content{
		padding:60px 0 0;
	}
	
	.event-countdown{
		overflow:visible;
	}
	
	.events-single-hero .hero-img,
	.program-events-hero .hero-countdown{
		width:425px;
		height:425px;
	}
	
	.hero-countdown .event-countdown .table-cell{
		padding:0 15px;
	}
	
	.events-single-hero .event-countdown .timer-body-block{
		width:auto
	}
	
}

@media only screen and (max-width: 90em) {
	.upcoming-event .event-info{
		margin:0 0 40px
	}
}

/* 992px and 1200px */
@media only screen and (min-width: 62px) and (max-width: 75em) {
	
	.upcoming-event .event-info{
		margin:0 0 40px
	}
	
	.site-header .nav li a,
	.site-header-2 .nav li a{
		font-size:14px;
		padding:15px 0;
		margin:0 5px!important;
	}
	
	.site-header .bootstrap-select, 
	.site-header-2 .bootstrap-select {
		margin: 0 0 0 20px !important;
	}
	
	.upcoming-event .event-info{
		margin:0 0 30px;
	}
	
	.post-date .day{
		font-size:40px;
		margin:0 0 5px;
	}
	
	.upcoming-event .event-countdown{
		padding:0 0 0 10px;
	}
	
	.post-date{
		padding:10px 0 0;
	}
	
	.post-date .month{
		margin: 0 0 10px
	}
	
	.upcoming-event .section-content h5{
		margin:0 0 5px;
	}
	
	.upcoming-event .section-content h2{
		font-size: 30px;
		line-height: 35px
	}
	
	.event-countdown .table-cell .tab-metr{
		margin:5px 0 0;
	}
	
	.event-countdown .table-cell::before,
	.event-countdown .table-cell .tab-val{
		font-size:30px;
	}
	
	.event-countdown .table-cell{
		padding:0 20px
	}
	
	.alumni-interview .section-content h2{
		font-size:30px;
		line-height:30px;
	}
	
	.alumni-interview .section-content h2 span{
		font-size:15px;
	}
	
	.alumni-interview .section-content .primary-btn{
		margin:10px 0 0;
	}
	
	.site-footer .footer-info{
		padding:60px 0;
	}
	
	.about-us-overview .section-content{
		padding:0;
	}
	
	.about-us-map .section-header p,
	.about-us-roadmap .section-header p{
		width:80%
	}

	.blog > .container > .row > div{
		width:100%;
	}
	
	.blog .section-footer{
		margin: 0 0 60px;
	}
	
	.blog .sidebar-post .row{
		display:flex;
		display:-webkit-flex;
		align-items:center;
		-webkit-align-items:center;
	}
	
	.blog .sidebar-post .row > div:first-child{
		width:16.66666667%
	}
	
	.blog .sidebar-post .row > div:last-child{
		width:83.33333333%
	}
	
	.job-detail-hero .job-info{
		padding:0 30px
	}
	
	.job-detail .section-header, 
	.job-detail .section-content, 
	.job-detail .section-footer{
		width:100%
	}
	
	.find-work .section-header .job-filter{
		flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
		justify-content:flex-start;
		-webkit-justify-content:flex-start;
	}
	
	.find-work .job-filter h3{
		width:100%;
		margin:0 0 20px;
		padding:0;
	}
	
	.find-work .job-filter > a{
		padding:0;
	}
	
	.find-work .job-filter .bootstrap-select,
	.find-work .job-filter .job-location,
	.find-work .job-filter .job-position{
		margin:0 20px 20px 0;
	}
	
	.find-work .section-content{
		display:flex;
		display:-webkit-flex;
		flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
		justify-content:center;
		-webkit-justify-content:center;
		margin:0 -15px;
	}
	
	.find-work .section-content .job-item{
		flex-direction:column;
		-webkit-flex-direction:column;
		width:46.9%;
		margin:0 15px 30px!important
	}
	
	.find-work .section-content .job-item > div{
		width:100%;
		text-align:center;
		margin:0 0 30px;
	}
	
	.find-work .section-content .job-item > div:last-child{
		margin:0;
	}
	
	.find-work .job-item .job-info ul li{
		margin:0 0 10px;
		display:block
	}
	
	.find-work .job-item .job-info ul li:last-child{
		margin:0;
	}
	
	.gallery .section-content a h3{
		font-size:18px;
		line-height:28px;
	}
	
	.story-single .section-footer,
	.story-single .section-header,
	.story-single .section-content{
		width:100%;
	}
	
	.story-single .section-footer .profile-share{
		margin:0;
		flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
	}
	
	.story-single .section-footer h3{
		width:100%;
		margin:0 0 20px;
	}
	
	.story-single .section-content .fun-fact{
		margin:0 0 30px;
	}
	
	.story-single .section-content .skills{
		margin:0 0 60px;
		padding:40px;
	}
	
	.talent-directory-hero .section-content h2{
		font-size:38px;
		line-height:48px
	}
	
	.events-single-hero .hero-img,
	.program-events-hero .hero-countdown{
		width:325px;
		height:325px;
	}
	
	.hero-countdown .event-countdown .table-cell{
		padding:10px;
	}
	
	.program-events-hero .event-countdown{
		margin: 0 0 20px;
	}
	
	.program-events-list .section-header{
		width:70%;
	}
	
	.events-single-hero .upcoming-event h2,
	.program-events-hero .upcoming-event h2{
		font-size:30px;
		line-height:46px;
	}
	
	.events-single .section-header,
	.events-single .section-container,
	.events-single .section-footer{
		width:100%;
	}
	
}

/* width: 991px; */
@media screen and (max-width: 61.938em) {
	
	#masthead .row > div{
		width:50%;
	}
		
	.site-header .bootstrap-select, 
	.site-header-2 .bootstrap-select{
		position:absolute;
		top:0;
		right:70px;
		margin:0!important;
	}
	
	.site-header .bootstrap-select .btn,
	.site-header-2 .bootstrap-select .btn{
		padding: 10px 35px 11px 15px;
	}
		
	.site-header{
		background:#6542e0;
	}
	
	.site-header .container > .row::before,
	.site-header .container > .row::after,
	.site-header-2 .container > .row::before,
	.site-header-2 .container > .row::after{
		display:none
	}
	
	.site-header #site-navigation-mobile{
		border:none;
		background:#6542e0;
		z-index:99;
		border-radius:0;
		margin:0;
		-webkit-box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.07);
		-moz-box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.07);
		box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.07);
	}
	
	.site-header-2 #site-navigation-mobile{
		border:none;
		background:#fff;
		z-index:99;
		border-radius:0;
		-webkit-box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.07);
		-moz-box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.07);
		box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.07);
	}
	
	.site-header-2{
		position:relative;
		background:#fff
	}
	
	.site-header > .row, 
	.site-header-2 > .row{
		margin:0;
	}
	
	.site-title img{
		margin:auto;
	}
	
	.site-header .row,
	.site-header-2 .row{
		display:block!important
	}
		
	.navbar-header {
        float: none;
    }
	
    .navbar-left,
	.navbar-right {
        float: none !important;
    }
	
    .navbar-toggle {
        display: block;
    }
	
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
	
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
	
    .navbar-collapse.collapse {
        display: none!important;
    }
	
	.navbar{
		min-height:auto;
	}
	
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
	
    .navbar-nav > li {
        float: none;
    }
	
    .navbar-nav > li >a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
	
    .collapse.in{
        display:block !important;
    }
		
	#site-navigation{
		display:none;
	}
		
	#masthead{
		padding:10px 0;
		position:relative;
	}
	
	#masthead .row > div{
		padding:0 15px
	}
		
	.mobile-menu{
		margin:0;
		display:block!important
	}
	
	#masthead .mobile-menu ul{
		display:flex;
		display:-webkit-flex;
		align-items:center;
		-webkit-align-items:center;
		justify-content:flex-end;
		-webkit-justify-content:flex-end;
	}
	
	.site-header-3 .navbar-toggle{
		display: block;
		border:none;
		padding:5px 10px 10px;
		margin:0 0 0 10px;
		position:relative;
		z-index:9999;
		
	}
	
	.site-header .navbar-toggle.collapsed{
		border:1px solid #fff;
	}
	
	.site-header-2 .navbar-toggle.collapsed{
		border:1px solid #6542e0;
	}
	
	.site-header-2 .navbar-toggle,	
    .site-header .navbar-toggle {
        display: block;
		border:none;
		padding:5px 10px 10px;
		margin:0 0 0 10px;
		position:relative;
		z-index:9999
    }
	
	.site-header-2 .navbar-toggle .icon-bar{
		background:#6542e0 ;
		border:1px solid #6542e0;
		transition: all 0.2s;
		width:0 auto;
		width:25px;
		margin-top:5px;
	}
	
	.site-header-2 .navbar-toggle.collapsed .icon-bar{
		background:#6542e0; 
		border:1px solid #6542e0;
		transition: all 0.2s;
		width:0 auto;
		width:25px;
		margin-top:5px;
	}
	
	.site-header .navbar-toggle.collapsed .icon-bar{
        background:#fff; 
		border:1px solid #fff;
		transition: all 0.2s;
		width:0 auto;
		width:25px;
		margin-top:5px;
    }
	
	.site-header .navbar-toggle .icon-bar{
        background:#fff ;
		border:1px solid #fff;
		transition: all 0.2s;
		width:0 auto;
		width:25px;
		margin-top:5px;
    }

	.top-bar {
		transform: rotate(45deg);
		transform-origin: 10% 10%;
	  }
	  
	.middle-bar {
		opacity: 0;
	}
	
	.bottom-bar {
		transform: rotate(-45deg);
		transform-origin: 10% 90%;
	}
	
	.collapsed .top-bar {
      transform: rotate(0);      
    }
	
    .collapsed .middle-bar {
      opacity: 1;
    }
	
    .collapsed .bottom-bar {
      transform: rotate(0);
    }
		
	.mobile-navigation{
		display:block;
		position: absolute;
		top:100%;
		left:0;
		right:0;
	}
	
	#navbar-mobile{
		position:relative;
		border:none;
		overflow-y:hidden;
		z-index:999;
		border-top:1px solid #fff;
		padding:0;
		margin:0!important
	}
	
	#navbar-mobile .nav{
		padding:10px 0;
		margin:0;
	}
	
	.site-header .nav li, 
	.site-header-2 .nav li{
		display:block;
	}
	
	.site-header-2 #navbar-mobile{
		border-top:1px solid #6542e0;
	}
	
	.mobile-navigation .navbar-nav{
		margin:0;
		border:none;
	}
	
	.mobile-navigation .navbar-nav .nav.pull-up{
		max-height:0;
	}
	
	.mobile-navigation .navbar-nav .show-menu{
		color:#fff;
		position:absolute;
		left:25px;
		top:0;
		width:25px;
		height:25px;
		transition:all .3s;
	}
	
	.mobile-navigation .navbar-nav .show-menu i{
		font-size:40px;
		line-height:20px;
	}
	
	.mobile-navigation .navbar-nav .show-menu.show{
		color:#d56e9b;
		top:63px;
	}
			
	.mobile-navigation .nav  > li > a{
		color:#fff;
		font-size:15px;
		padding:10px 0;
		position:relative;
		background:none;
		border:none;
		text-transform:uppercase;
		position:relative;
		font-weight:600;
		display:block;
	}
	
	.site-header-2 .mobile-navigation .nav  > li > ul > li > a,
	.site-header-2 .mobile-navigation .nav  > li > a{
		color:#6542e0;
	}
	
	.mobile-navigation .nav  > li > ul > li > a{
		color:#fff;
		font-size:15px;
		font-family: 'Lato', sans-serif;
		padding:10px;
		position:relative;
		background:none;
		border:none;
		position:relative;
		display:block;
	}
	
	.mobile-navigation .nav  > li.active > a,
	.mobile-navigation .nav  > li:hover > a,
	.mobile-navigation .nav  > li > ul > li:hover > a{
		color:#0d0d0d;
	}
	
	.site-header-2 .mobile-navigation .nav  > li.active > a,
	.site-header-2 .mobile-navigation .nav  > li:hover > a,
	.site-header-2 .mobile-navigation .nav  > li > ul > li:hover > a{
		color:#0d0d0d
	}
	
	.site-header #site-navigation .nav,
	.site-header-2 #site-navigation .nav{
		display:none;
	}
	
	.site-header #site-navigation .site-branding{
		width:100%;
	}
		
	.site-header-2 .site-branding img,
	.site-header .site-branding img{
		max-height:60px;
	}
	
	.hero .section-content h2{
		font-size:40px;
		line-height:50px;
	}
	
	.upcoming-event .section-content{
		background:rgba(109,76,226,.95);
	}
	
	.upcoming-event .event-info{
		margin:0 0 50px
	}
	
	.upcoming-event{
		overflow:hidden
	}
	
	.upcoming-event .section-img{
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
	}
	
	.upcoming-event .section-content{
		position:relative;
		padding:100px 0;
	}
	
	.featured .section-content{
		margin:0 0 20px
	}
	
	.featured .section-content .row > div{
		margin:0 0 30px;
	}
	
	.job-list,
	.news-list{
		margin:0 0 30px;
	}
	
	.job-item .row,
	.news-item .row{
		display:flex;
		display:-webkit-flex;
		align-items:center;
		-webkit-align-items:center;
	}
	
	.alumni-interview{
		overflow:hidden
	}
	
	.alumni-interview .section-content{
		position:relative;
		padding:60px 0;
		text-align:center;
	}
	
	.twitter-stream .section-content{
		padding:0;
	}
	
	.about-us-map .section-header p, 
	.about-us-roadmap .section-header p {
		width: 100%;
	}
	
	.about-us-programs img{
		display:block;
		margin:0 auto 30px;
	}
	
	.about-us-roadmap .section-content .timeline li{
		width:100%;
		display:flex;
		display:-webkit-flex;
		align-items:center;
		-webkit-align-items:center;
		justify-content:space-between;
		-webkit-justify-content:space-between;
		margin:0 0 30px
	}
	
	.about-us-roadmap .section-content .timeline li:last-child{
		margin:0;
	}
	
	.about-us-roadmap .section-content .timeline li h3{
		width:45%;
		text-align:right
	}
	
	.about-us-roadmap .section-content .timeline li h3 br{
		display:none
	}
	
	.about-us-roadmap .section-content .timeline li .date-line{
		width:10%
	}
	
	.about-us-roadmap .section-content .timeline li p{
		width:45%;
		text-align:left
	}
	
	.about-us-roadmap .section-content .timeline li .date-line::before{
		display:none
	}
	
	.about-us-roadmap .section-content .timeline li .date-line::after {
		content: "";
		display: block;
		height: 5px;
		background: #6542e0;
		left:0;
		right: 0;
		top:100%;
		bottom: auto;
		width:4px;
		height: 80px;
		margin:auto;
		position: absolute;
	}
	
	.access-denied{
		padding:60px 0;
	}
	
	.job-detail-hero .section-content{
		flex-direction:column;
		-webkit-flex-direction:column;
		text-align:center
	}

	.job-detail-hero .company-info{
		margin:0 auto 30px;
	}
	
	.job-detail-hero .job-info{
		width:100%;
		margin:0 0 30px
	}
	
	.job-detail-hero .apply-info{
		width:100%
	}
	
	.find-work .section-header .job-filter{
		justify-content:space-between;
	}
	
	.find-work .job-filter .bootstrap-select,
	.find-work .job-filter .job-location,
	.find-work .job-filter .job-position{
		width:48.5%!important;
		margin:0 0 20px
	}
	
	.find-work .job-filter .job-availability .btn,
	.find-work .job-filter .job-rate .btn{
		width:100%;
	}
	
	.find-work .section-content .job-item{
		width:100%;
	}
	
	.find-work .job-item .job-info ul li{
		margin:0 20px 0 0;
		display:inline-block
	}
	
	.success-story-hero .section-content h5{
		font-size:14px;
	}
	
	.success-story-hero .section-content h2{
		font-size:28px;
		line-height:38px;
	}
	
	.success-story-hero .section-content p{
		font-size:12px;
		line-height:22px;
	}
	
	.success-story-hero .section-content  .primary-btn{
		padding:10px 20px;
		font-size:12px;
	}
	
	.success-story-list .story-item img{
		width:100%;
	}
	
	.story-single .section-content p{
		padding:0;
	}
	
	.story-single .section-content blockquote{
		margin:0 0 30px
	}
	
	.story-single .section-content .skill-stats li{
		flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
	}
	
	.story-single .section-content .skill-stats li span{
		width:100%;
		margin:0 0 5px
	}
	
	.story-single .section-content .skill-stats li .skill-counter{
		width:100%;
		margin:0
	}
	
	.story-single .section-content .job-stats{
		flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
		justify-content: center;
		-webkit-justify-content: center;
	}
	
	.story-single .section-content .job-stats ul{
		text-align:center;
		width:100%;
		margin:0 0 30px;
	}
	
	.story-single .section-content .job-stats ul li:last-child{
		margin:0
	}
	
	
	.talent-directory-hero .section-content h2{
		font-size:28px;
		line-height:38px;
	}
	
	.talent-directory-hero .section-content p{
		font-size:12px;
		line-height:22px;
	}
	
	.talent-directory-hero .section-content  .secondary-btn{
		padding:10px 20px;
		font-size:12px;
	}
	
	.program-events-list .section-header{
		width:100%;
	}
	
	.program-events-list .event-filter .row > div{
		justify-content: flex-start;
		-webkit-justify-content: flex-start;
	}
	
	.events-single-hero .section-content,
	.program-events-hero .section-content{
		padding:0;
	}
	
	.events-single-hero .upcoming-event h2,
	.program-events-hero .upcoming-event h2{
		font-size:20px;
		line-height:30px;
	}
	
	.program-events-hero .upcoming-event .secondary-btn{
		margin:30px 0 0;
		padding:10px 25px;
		font-size:14px;
	}
	
	.program-events-list .section-content{
		margin:0 -15px;
		display:flex;
		display:-webkit-flex;
		justify-content:center;
		-webkit-justify-content:center;
		flex-wrap:wrap;
		-webkit-flex-wrap:wrap
	}
	
	.program-events-list .event-item{
		width:46%;
		margin:0 15px 30px;
		text-align:center
	}
	
	.program-events-list .event-item .row{
		flex-direction:column;
		-webkit-flex-direction:column;
	}
	
	.program-events-list .event-item .row > div:nth-child(1),
	.program-events-list .event-item .row > div:nth-child(2),
	.program-events-list .event-item .row > div:nth-child(3){
		width:100%!important;
		margin:0 0 20px
	}
	
	.program-events-list .post-date{
		margin:0 auto
	}
	
	.events-single-hero .event-countdown{
		margin:30px 0 0;
		padding:0;
	}
	
	.event-countdown .table-cell .tab-metr{
		font-size:10px;
	}
	
	.events-single .section-content p{
		padding:0;
	}
	
	.featherlight .featherlight-content{
		width:80%;
	}
	
	.featherlight .gallery-lightbox-content{
		padding:30px
	}
	
	.gallery{
		margin:0;
	}
	
	.story-single .section-content .skill-stats li{
		position:relative
	}
	
	.story-single .section-content .skill-stats li p{
		position:absolute;
		right:0;
		top:0;
	}
}


/* width 768px */
@media screen and (max-width: 48em) {
	
	.site-footer .footer-links li a{
		line-height:20px;
	}
	
	.hero .section-content .container{
		width:100%;
	}
	
	.hero .section-content h2{
		font-size:30px;
		line-height:40px;
		margin:0 0 20px
	}
	
	.hero .section-content .primary-btn{
		font-size:14px;
		padding:10px 25px;
	}
	
	.upcoming-event{
		background: url(../images/upcoming-event-img.jpg) center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.upcoming-event .section-img{
		display:none
	}
	
	.upcoming-event .section-content{
		padding:40px 0;
	}
	
	.upcoming-event .event-countdown .join-now{
		font-size:14px;
		line-height:14px;
		padding:8px 15px
	}
	
	.post-date .day{
		font-size:30px;
		line-height:30px
	}
	
	.post-date .month{
		font-size:14px;
		line-height:14px;
	}
		
	.upcoming-event .event-info{
		text-align:center;
		margin:0 0 30px
	}
	
	.upcoming-event .section-content h2{
		font-size:20px;
		line-height:25px;
	}
	
	.upcoming-event .event-countdown,
	.upcoming-event .event-info .row{
		display:flex;
		display:-webkit-flex;
		flex-direction:column;
		-webkit-flex-direction:column;
		align-items:center;
		-webkit-align-items:center;
	}
	
	.upcoming-event .event-info .post-date{
		width:100px;
		margin:0 auto
	}
	
	.upcoming-event .event-info .row > div:nth-child(1){
		order:2;
		width:100%;
	}
	
	.upcoming-event .event-info .row > div:nth-child(2){
		order:1;
		margin:0 0 20px;
		width:100%;
	}
	
	.upcoming-event .event-countdown .join-now{
		margin:20px 0 0;
	}
	
	.talent-directory,
	.story-single,
	.success-story-list,
	.program-events-list,
	.gallery,
	.find-work,
	.job-detail,
	.job-detail-hero,
	.blog,
	.about-us-roadmap,
	.about-us-overview,
	.newsletter,
	.twitter-stream,
	.alumni-interview .section-content,
	.latest,
	.featured{
		padding:40px 0;
	}
	
	.featured .section-content{
		text-align:center;
		width:80%;
		margin:0 auto
	}
	
	.newsletter .section-content h2{
		font-size:25px;
		line-height:30px;
	}
	
	.secondary-btn,
	.primary-btn{
		font-size:14px;
		line-height:14px;
		padding:10px 25px;
	}
	
	.about-us-hero .section-content h2{
		font-size:26px;
		line-height:36px;
	}
	
	.about-us-programs h2{
		font-size:20px
	}
	
	.about-us-programs .nav-tabs > li > a{
		font-size:14px;
		margin:0 20px 0 0
	}
	
	.newsletter .section-content input[type="email"]{
		width:80%;
	}
	
	.about-us-programs{
		padding:0 0 40px;
	}
	
	.about-us-map .section-header h2,
	.about-us-roadmap .section-header h2{
		font-size:20px;
		margin: 0 0 20px
	}
	
	.newsletter .section-content p{
		margin: 0 0 20px
	}
	
	.access-denied h2{
		font-size:22px;
		line-height:22px;
		margin:0 0 20px;
	}
	
	.access-denied h3{
		font-size:20px;
		line-height:35px;
		margin: 0 0 5px
	}
	
	.blog-hero .section-content{
		padding:20px
	}
	
	.blog-hero .section-content h2{
		font-size:18px;
		line-height:20px;
		margin: 0 0 10px;
	}
	
	.blog-hero .section-content .category-tag{
		font-size:10px;
		line-height:10px;
		margin:0 0 5px;
	}
	
	.blog-hero .section-content .category-tag a{
		padding:8px;
	}
	
	.blog .blog-item{
		margin: 0 0 30px
	}
	
	.blog .blog-item .blog-info{
		padding:20px 0 0
	}
	
	.job-detail-hero .job-info ul li{
		margin: 0 20px 5px 0;
	}
	
	.job-detail h2{
		font-size:22px;
		margin: 0 0 20px;
	}
	
	.find-work .section-header h2{
		font-size: 22px;
		margin:0 0 20px
	}
	
	.find-work .section-header .job-filter{
		margin:0 0 40px
	}
	
	.find-work .job-item .job-info ul li{
		margin:0 20px 5px 0;
	}
	
	.find-work .section-content .job-item{
		padding:30px;
	}
	
	.pagination{
		margin: 10px 0 0
	}
	
	.gallery .section-content a h3{
		font-size:16px;
		line-height:20px;
		padding:10px
	}
	
	.gallery .section-header h2{
		font-size:22px;
	}
	
	.gallery .section-header{
		margin: 0 0 40px;
	}
	
	.events-single-hero .section-content .row,
	.program-events-hero .section-content .row{
		flex-direction:column;
		-webkit-flex-direction:column;
	}
	
	.events-single-hero .hero-img, 
	.program-events-hero .hero-countdown{
		margin:-50% 0 30px;
	}
	
	.events-single-hero .section-content,
	.program-events-hero .section-content{
		position:relative;
		padding:0 0 40px;
		text-align:center
	}
	
	.events-single-hero .upcoming-event,
	.program-events-hero .upcoming-event{
		text-align:center
	}
	
	.program-events-list .section-header p{
		width:110px;
	}
	
	.program-events-list .event-filter .row > div{
		margin: 0 0 20px
	}
	
	.program-events-list .section-header h2{
		font-size:22px; 
		margin: 0 0 30px
	}
	
	.program-events-list .section-header{
		margin:0 0 20px
	}
	
	.program-events-list .event-item{
		width:44.7%;
	}
	
	.program-events-list .event-item{
		padding:30px
	}
	
	.program-events-list .event-item .closed,
	.program-events-list .event-item .join-now{
		font-size:14px;
		padding:10px 0;
	}
	
	.program-events-list .event-item .row > div:nth-child(3){
		margin:0;
	}
	
	.events-single .section-content{
		width:100%;
	}
	
	.events-single .section-header h2{
		font-size:22px;
		line-height:30px;
		margin:0 0 20px
	}
	
	.success-story-hero .section-content{
		background:rgba(255,255,255, .8)
	}
	
	.success-story-hero .section-content h2{
		font-size:22px;
		line-height:22px;
		margin:0 0 15px
	}
	
	.success-story-hero .section-content h5{
		margin:0 0 5px;
		font-size:12px
	}
	
	.success-story-hero .section-content p{
		line-height:18px
	}
	
	.story-single .section-header h2{
		font-size:22px;
		line-height:30px;
		margin:0 0 10px
	}
	.story-single .section-footer ul{
		display:flex;
		display:-webkit-flex;
		align-items:center;
		-webkit-align-items:center;
		justify-content:center;
		-webkit-justify-content:center;
		flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
	}
	
	.story-single .section-footer ul li{
		margin:0 10px 10px 0
	}
	
	.story-single .section-content .job-stats ul li{
		margin:0 20px 10px 0;
	}
	
	.story-single .section-content .job-stats ul li strong{
		font-size:20px;
		line-height:20px;
	}
	
	.talent-directory-hero .section-content{
		background:rgba(109,76,226,.9);
	}
	
	.talent-directory-hero .section-content h2{
		font-size:22px;
		line-height:22px;
		margin:0 0 15px
	}

	.talent-directory-hero .section-content p{
		line-height:18px
	}
}

@media screen and (max-width: 47em) {
	
}

@media only screen and (min-width: 481px) and (max-width: 581px) {
	
	.program-events-list .event-item{
		width:100%;
	}
	
	.site-header .bootstrap-select, 
	.site-header-2 .bootstrap-select{
		display:none!important
	}
	
	.site-footer .footer-info{
		padding:60px 0 30px
	}
	
	.footer-info .row > div{
		width:50%;
		margin:0 0 30px
	}
	
	.footer-info .row > div:last-child{
		margin:0
	}
	
	.find-work .job-filter .bootstrap-select, 
	.find-work .job-filter .job-location, 
	.find-work .job-filter .job-position{
		width:100%!important;
	}
	
	.site-footer .footer-links li{
		margin: 0 0 5px;
	}
	
	.program-events-list .event-item{
		width:100%;
	}
	
	.events-single-hero .hero-img, 
	.program-events-hero .hero-countdown{
		width:280px;
		height:280px
	}
	
	.program-events-hero .event-countdown{
		margin:0 0 10px
	}
	
	.program-events-hero .hero-countdown{
		padding:20px 20px 30px 20px
	}
	
	.talent-directory-hero .section-content .secondary-btn,
	.success-story-hero .section-content .primary-btn{
		display:none
	}
	
	.talent-directory .section-content .row > div{
		width:100%;
	}
	
	
}

/* width 480px */
@media screen and (max-width: 30em) {
	
	.program-events-hero .event-countdown{
		margin:0 0 10px
	}
	
	.program-events-hero .hero-countdown{
		padding:20px 20px 30px 20px
	}
	.events-single-hero .hero-img, 
	.program-events-hero .hero-countdown{
		width:280px;
		height:280px
	}
	
	.program-events-list .event-filter .row > div{
		display:block;
	}
	
	.program-events-list .section-header p{
		width:100%;
		margin:0 0 5px;
	}
	
	.program-events-list .event-filter .bootstrap-select{
		width:100%!important;
		margin:0;
	}
	
	.program-events-list .event-item{
		width:100%;
	}
	
	.site-header .bootstrap-select, 
	.site-header-2 .bootstrap-select{
		display:none!important
	}
	
	.hero .section-content h2{
		font-size:20px;
		line-height:30px;
		margin:0 0 20px
	}
	
	.hero .section-content .primary-btn{
		font-size:12px;
		line-height:12px;
		padding:10px 15px;
	}
	
	.find-work .job-filter .bootstrap-select, 
	.find-work .job-filter .job-location, 
	.find-work .job-filter .job-position{
		width:100%!important;
	}
	
	.site-footer .footer-links li{
		margin: 0 0 5px;
	}
		
	.site-footer .footer-info{
		padding:60px 0 30px
	}
	
	.footer-info .row > div{
		width:100%;
		margin:0 0 30px
	}
	
	.footer-info .row > div:last-child{
		margin:0
	}
	
	.success-story-hero .section-content{
		position:relative;
		padding:15px 0 0;
	}
	
	.talent-directory-hero .section-content{
		position:relative;
		padding:15px 0;
	}
	
	.talent-directory-hero .section-content p{
		margin:0 0 15px
	}
	
	.story-single .section-content .job-stats ul li{
		margin:0 0 20px 0;
		display:block
	}
	
	.story-single .profile-share{
		text-align:center
	}
	
	.talent-directory .section-content .row > div{
		width:100%;
	}
	
	.blog-hero .section-content ul{
		display:none;
	}
	
	.blog-hero .section-content h2{
		margin:0;
	}
	
	.blog .sidebar-post .row{
		flex-direction:column;
		-webkit-flex-direction:column;
	}
	
	.section-sidebar .sidebar-post .row > div{
		width:100%!important;
	}
	
	.section-sidebar .sidebar-post .row > div img{
		width:100%;
		margin: 0 0 20px
	}
	
	.site-footer .footer-copyright{
		flex-direction:column;
		-webkit-flex-direction:column;
	}
	
	.site-footer .footer-copyright p{
		margin:0 0 10px
	}
	
}
